div{
                margin: 10px;
                border: 1px solid #222;
            }
            #header{
                height: 80px;
                background-color: #ccc;
            }
            #content{
                height: 180px;
                background-color: #eee;
            }
            #footer{
                height: 80px;
                background-color: #ccc;
            }
			/**{      
    background-color: red;
}
h1, #header, .redBlock{
                 
    color: red;
}
*/
/*Без символа > стиль применится ко всему что вложено в артикл*/
.article > p{
             
                color: red;
            }


 #main p{
                font-size: 16px;
            }
            #footer p{
                font-size: 13px;
            }
			/*пробел между ли и редлинк означает что стиль относится к вложенным в ли элементам. Если пробела нет, но стиль относится к самому ли:
			Пробел: <li>LG: <a class="redLink">LG G5</a></li>
			Без пробела: <li class="redLink">Microsoft: <a>Lumia 650</a></li>
			*/
			 li .redLink{
                color: red;
            }

h1, h2, h3, h4{
                 
                color: red;
            }