div{
               /* margin-top: 30px;  отступ сверху */
                /*margin-left: 25px;  отступ слева */
               /* margin-right: 20px;  отступ справа */
               /* margin-bottom: 15px; отступ снизу */
				margin: 30px 20px 15px 25px;
                padding: 11px; /* внутренний отступ */
                border: 3px solid red; /* границы шириной в 3 пикселя сплошной красной линией */
				/*border-radius: 30px;*/
				/*border-radius: 15px 30px 5px 40px;*/
				border-radius: 40px/20px;
            }
div.vert{
	display:inline-block;
	border: 1px none;
}
			
div.outer{
                 
                 
                /*padding-top:30px;
                padding-right: 25px;
                padding-bottom: 35px;
                padding-left: 28px;
                padding: 30px 25px 35px 28px;*/
				
             width: 200px;
            height: 100px;
            margin: 10px;
            padding: 10px;
            border: 5px solid #ccc;
            background-color: #eee;
            }
            div.inner{                
                
			width: 80%;
            height: 80%;
            margin: auto;
            border: 1px solid red;
            background-color: blue;
			box-sizing: padding-box;
            }

div.outer1{
            box-sizing: content-box;
        }
        div.outer2{
            box-sizing: border-box;
        }			

/*Свойство box-sizing позволяет переопределить установленные размеры элементов. Оно может принимать одно из следующих значений:
content-box: значение свойства по умолчанию, при котором браузер для определения реальных ширины и высоты элементов добавляет 
к значениям свойств width и height ширину границы и внутренние отступы
padding-box: указывает веб-браузеру, что ширина и высота элемента должны включать внутренние отступы как часть своего значения.
 Например, пусть у нас есть следующий стиль:
 width: 200px;
height: 100px;
margin: 10px;
padding: 10px;
box-sizing: padding-box;
 Здесь реальная ширина внутреннего содержимого блока будет равна 200px (width) - 10px (padding-left) - 10px (padding-right) = 180px.
 */			
			
/* для верхней границы 
border-top-width
border-top-style
border-top-color
 
 для нижней границы 
border-bottom-width
border-bottom-style
border-bottom-color
 
для левой границы 
border-left-width
border-left-style
border-left-color
 
 для правой границы 
border-right-width
border-right-style
border-right-color*/