div{
                margin: 10px;
                border: 1px solid #222;
            }
            #header{
                height: 80px;
                background-color: #ccc;
            }
            #content{
                height: 180px;
                background-color: #eee;
            }
            #footer{
                height: 80px;
                background-color: #ccc;
            }
			/**{      
    background-color: red;
}
h1, #header, .redBlock{
                 
    color: red;
}
*/

 #main p{
                font-size: 16px;
            }
            #footer p{
                font-size: 13px;
            }
			 li .redLink{
                color: red;
            }

h1, h2, h3, h4{
                 
                color: red;
            }