div{

    width: 200px;
    height: 200px;
    margin: 10px;
    display: inline-block;
             
    color: #eee;
    padding:15px;
    border: 15px solid rgba(23,23,23,0.1);
             
    /*background-image: url(cats.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
	background: #eee no-repeat border-box local url(cats.jpg);
	box-shadow: 5px 3px 8px 3px #faa, 10px 4px 10px 3px #888 ;
	/*
	none: контур отсутствует
solid: контур в виде обычной линии
dashed: штриховая линия
dotted: линия в виде последовательности точек
double: контур в виде двух параллельных линий
*/
	outline-color: red;
            outline-style: dashed;
            outline-width: 2px;
}
.borderBox{background-clip: border-box;}
.paddingBox{background-clip: padding-box;}
.contentBox{background-clip: content-box;}		
			
div.vert{
	display:inline-block;
	border: 1px none;
}
			
div.outer{
                 
                 
                /*padding-top:30px;
                padding-right: 25px;
                padding-bottom: 35px;
                padding-left: 28px;
                padding: 30px 25px 35px 28px;*/
				
             width: 200px;
            height: 100px;
            margin: 10px;
            padding: 10px;
            border: 5px solid #ccc;
            background-color: #eee;
            }
            div.inner{                
                
			width: 80%;
            height: 80%;
            margin: auto;
            border: 1px solid red;
            background-color: blue;
			box-sizing: padding-box;
            }

div.outer1{
            box-sizing: content-box;
        }
        div.outer2{
            box-sizing: border-box;
        }			

/*Свойство box-sizing позволяет переопределить установленные размеры элементов. Оно может принимать одно из следующих значений:
content-box: значение свойства по умолчанию, при котором браузер для определения реальных ширины и высоты элементов добавляет 
к значениям свойств width и height ширину границы и внутренние отступы
padding-box: указывает веб-браузеру, что ширина и высота элемента должны включать внутренние отступы как часть своего значения.
 Например, пусть у нас есть следующий стиль:
 width: 200px;
height: 100px;
margin: 10px;
padding: 10px;
box-sizing: padding-box;
 Здесь реальная ширина внутреннего содержимого блока будет равна 200px (width) - 10px (padding-left) - 10px (padding-right) = 180px.
 */			
			
/* для верхней границы 
border-top-width
border-top-style
border-top-color
 
 для нижней границы 
border-bottom-width
border-bottom-style
border-bottom-color
 
для левой границы 
border-left-width
border-left-style
border-left-color
 
 для правой границы 
border-right-width
border-right-style
border-right-color*/